@media only screen and (max-width: 850px) {
.sw {
  display: inline-block;
  width: 100%;
  float: none;
}
  
.sl {
  display: block;
  width: 100%;
  float: none;
}
  
.ss {
  display: block;
  width: 100%;
  float: none;
}
  
.op {
  display: inline-block;
  width: 100%;
  float: none;
}
  
.shr {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 425px;
  float: none;
}

.sh {
  display: block;
  text-align: center;
  float: none;
}

.fl {
  display: inline-block;
  text-align: center;
  width: 260px;
  height: 420px;
  background: #111112;
  border-radius: 5px;
}
  
.nm {
  display: inline-block;
  width: 70%;
  float: left;
}
  
.ed {
  display: inline-block;
  width: 30%;
  float: right;
}
  


.sid {
  width: 95%;
  margin: 5px auto;
  padding: 5px;
  background: #f2f1f0;
  border-radius: 10px;
}

.bar1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  float: none;
}

.bar2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  float: none;
}

.steam {
  display: inline-block;
  width: 100%;
  float: left;
}

*[align] { text-align:inherit; }
* { text-align:expression(this.align ? this.parentNode.currentStyle['textAlign'] : ''); }
}