@media only screen and (max-width: 720px) {

.blob {
  display: block;
    font-family: 'Nunito', sans-serif;
  font-size: 14px;
    align-content: center;
    position: absolute;
    align-items: center;
    text-align: center;
    color: #222;
    height: 20px;
    margin: 0 auto;
    width: 298px;
    top: -7px;
    background: rgba(250,250,250,0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
}

#mobile {
  margin-top: 60px;
}


.info-pop {
  text-align: center;
  align-content: center;
  width: 290px;
  animation: typing 2s steps(22), blink .7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: monospace;
  font-size: 14px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.sw {
  display: inline-block;
  width: 100%;
  float: none;
}
  
.sl {
  display: block;
  width: 100%;
  float: none;
}
  
.ss {
  display: block;
  width: 100%;
  float: none;
}
  
.op {
  display: inline-block;
  margin: 25px auto;
  width: 100%;
  float: none;
}
  
.shr {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 425px;
  float: none;
}

.sh {
  display: block;
  text-align: center;
  float: none;
}

.fl {
  display: inline-block;
  width: 280px;
  height: 420px;
  background: #111112;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 15px 17px -10px rgba(76, 70, 124, 0.5);
  box-shadow: 0px 15px 20px 10px rgba(76, 70, 124, 0.35);
  float: none;
}
  
.nm {
  display: inline-block;
  width: 70%;
  float: left;
}
  
.ed {
  display: inline-block;
  width: 30%;
  float: right;
}
  


.sid {
  width: 95%;
  margin: 5px auto;
  margin-right: 32px;
  z-index: 0;


}

.in {
  display: inline-block;
  width: 100%;
  float: none;
  box-shadow: 0px 15px 17px -10px rgba(76, 70, 124, 0.5);
  box-shadow: 0px 15px 20px 10px rgba(76, 70, 124, 0.35);
  padding: 5px;
  background: rgba(242, 241, 240, .75);
  border-radius: 15px;
}

.bar1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  float: none;
}

.bar2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  float: none;
}

.steam {
  display: inline-block;
  width: 100%;
  float: left;
}

*[align] { text-align:inherit; }
* { text-align:expression(this.align ? this.parentNode.currentStyle['textAlign'] : ''); }
}